# Dependencies
node_modules/

# Build output
dist/
WebExtension/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test output
coverage/
junit.xml

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
